%p#notice
  = notice

%p
  %strong Title:
  = @entry.title

%p
  %strong Body:
  = @entry.body

= link_to 'Edit', edit_blog_entry_path(@blog, @entry)
|
= link_to 'Back', blog_path(@blog)

= render 'comments/index', blog: @blog, entry: @entry, comments: @entry.comments
= render 'comments/form', blog: @blog, entry: @entry, comment: @comment
