%p
  %strong Title:
  = @entry.title

%p
  %strong Body:
  = @entry.body

= link_to 'Attachments', entry_attachments_path(@entry)

%br

= link_to 'Edit', edit_entry_path(@entry)
|
= link_to 'Back', blog_path(@entry.blog)

= render 'comments/index', comments: @entry.comments
= render 'comments/form', entry: @entry, comment: @comment
