%h1 New attachment

= simple_form_for [@blog, @entry, @attachment] do |form|
  - if @attachment.errors.any?
    #error_explanation
      %h2
        = pluralize(@attachment.errors.count, "error")
        prohibited this attachment from being saved:

      %ul
      - @attachment.errors.full_messages.each do |message|
        %li
          = message

  = form.file_field :file
  = form.button :submit

= link_to 'Back', blog_entry_attachments_path(@blog, @entry)
